@charset "utf-8";
.main .z-row .right .first {
  font-family: "宋体";
  font-size: 14px;
  line-height: 30px;
  color: #777777;
  text-indent: 60px;
}
.main .z-row .right .f-d {
  font-family: "宋体";
  font-size: 14px;
  line-height: 30px;
  color: #777777;
}
.main .z-row .right li {
  list-style: none;
  font-family: "宋体";
  font-size: 14px;
  line-height: 30px;
  color: #777777;
  text-indent: 60px;
}
.main .z-row .right h3.zz {
  font-family: "黑体";
  font-size: 24px;
  line-height: 80px;
  color: #777777;
  font-weight: bold;
}
