@charset "utf-8";
.main .right {
  margin-bottom: 100px;
}
.main .right p {
  margin-top: 45px;
  font-size: 14px;
}
.main .right p:nth-of-type(4) {
  margin: 0px;
  text-indent: 100px;
}
.main .right p:nth-of-type(6) {
  font-weight: bold;
  margin-bottom: 50px;
}
.main .right a {
  float: left;
}
