<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../css/about-us.css" />
		<meta name="keywords" content="黛羽妃化妆品，成都黛羽妃化妆品有限公司，成都化妆品，成都化妆品公司，四川化妆品，四川化妆品公司">
		<meta name="description" content="成都黛羽妃化妆品有限公司总部是一家集研发、生产及销售为一体的专业化妆品OEM/ODM加工企业，在行业内颇具口碑、影响力，公司位于交通便捷、物流发达的广州白云区工业基地，是广州发达、化妆品生产集散地，厂区环室、原料室、灌装妆品所有常规检验项目的检测，全方位保证企业的产品在消费者手中的安全使用，让消费者放心消费。">
		<title>成都黛羽妃化妆品有限公司</title>
	</head>
	<body>

		<div class="box">
			<!--nav start-->
			<div class="wrap">
				<nav class="navbar Z-navbar ">
					<div class="container Z-container ">
						<div class="navbar-header Z-navbar-header">
							<div class="btn-group visible-xs pull-right Z-hidden " style="">
								<button type="button" class="btn btn-warning dropdown-toggle" id="scollBtn" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="false">
									<span class="glyphicon glyphicon-tasks" style="font-size: 30px;"></span>
								</button>


								<div class="dropdown-menu out-mask" style="">
									<div id="mask">
										<div class="row">
											<div class="col-xs-12">
												<ul>

													<li>
														<a href="../index.html">
															网站首页
															<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li>
														<a href="about-us.html">
															关于我们
															<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li>
														<a href="news.html">
															新闻资讯<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li><a href="brand-center.html">
															品牌中心<span class="glyphicon glyphicon-hand-left "></span></a></li>
													<li><a href="jion-investment.html">招商加盟<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li><a href="./view/team-mien.html">
															团队风采<span class="glyphicon glyphicon-hand-left "></span></a></li>
													<li><a href="franchisee.html">加盟门店<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li><a href="online-reservation.html">在线预定
															<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li>
														<a href="contact-us.html">
															联系我们<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<h1>
								<a class="Z-LOGO" href="index.html">
									<img src="../img/header_02.png">
								</a>
							</h1>
							<ul class="nav nav-justified Z-nav hidden-xs">
								<li ><a href="../index.html">网站首页</a></li>
								<li class="text-center"><a class="active" href="about-us.html">关于我们</a></li>
								<li><a href="news.html">新闻资讯</a></li>
								<li><a href="brand-center.html">品牌中心</a></li>
								<li><a href="jion-investment.html">招商加盟</a></li>
								<li><a href="team-mien.html">团队风采</a></li>
								<li><a href="franchisee.html">加盟门店</a></li>
								<li><a href="online-reservation.html">在线预定</a></li>
								<li><a href="contact-us.html">联系我们</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<!--end of nav-->
			<!--content start-->

			<div class="content">
				<!--banner-->
				<div class="container-fluid Z-all-banner">
					<a href="#">
						<img src="../img/about-us/20160912052441758.png" class="img-responsive">
					</a>
				</div>
				<!--banner-->
				<div class="main container">
					<div class="row z-row">
						<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
							<div class="left">
								<div class="z-title">
								<p>-关于我们-</p>
								</div>
								<div class="z-list ">
								<p><a class="active" href="#">公司简介</a></p>
								<p><a href="#">企业文化</a></p>
								</div>


							</div>


						</div>
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 right">
						<h3 class="title"> 
							<span>公司简介</span>
							<span>位置：关于我们-----公司简介</span>
						</h3>
							
							<p class="first">
								成都市黛羽妃化妆品有限公司隶属于广州雪妃生物科技有限公司（以下简称“总部”）旗下子公司。
								总部是集自主研发、生产、运营及服务为一体的专业美容护肤企业，拥有一支国际化水平的资深研发团队
								，18条国际化标准生产线，百人以上高效务实的运营管理与营销队伍。黛羽妃专注斑、逗、敏感、暗沉等问题性皮肤
								的管理，结合不同人群、不同肤质，配置专业配方，针对性攻克问题性肌肤，满足东方女性彰显自我品味，追求高品质生活
								的需求，力求让女人如珍珠般闪亮尊贵与典雅，如钻石般时尚与闪耀。黛羽妃一直以来坚守“品质第一”的理念，每一款产品从
								原料选到成品的形成，均严格按照国家及国际相关标准层层把控，高标准、严要求，所有产品均经测试合格后推出市场。未来，
								黛羽妃护肤研究中心以为消费者“提供优质产品和贴心服务”为永恒的发展命题
								，将一如既往地研究技术含量高、品质卓越的美容、美体、护肤产品，以满足广大消费者追求完美的需求。
							</p>
							<br><p></p><br><p></p><br><p></p>
							<p></p>
							<span class="f-d"> <strong>生产优势</strong></span>
							<p class="first">       占地面积为1万多平方的工厂，生产程序严格遵照国家药GMP生产标
							准，通过ISO9001：2000质量管理体系求量的生产，日产量可达数万支，国内以及国外多家品牌
							公司代加工，并在工作中提倡：“人人是质检”，层层把关，从而确保每一款产品的高标准合格率。</p>
						<p></p>
						<span class="f-d"> <strong>技术优势</strong></span>
						<p class="first">               1：工厂按照GMP生产标准建设，参照美联邦标准FS209E以及日本JI
						S(9920-1989)标准进行设计建造。6S管理原则，O标准测定：色谱仪测定、视觉&嗅觉测定、比
						重测定、折射系数测定、酸性测定、羟值测定、碘值测定、皂化值测定、重金属测定、细菌含量测定</p>
						<p></p>
						<span class="f-d"> <strong>原料优势</strong></span>
						<p class="first">   本公司的原材料采购遍及世界各大主流产区，致力于
						国内OEM加工国际化、前瞻化、领先化、优质化的企业使命。研发优势 最前沿的信息资讯，</p>
						<p></p>
						<span class="f-d"> <strong>研发实力</strong></span>
						<p class="first">尖端的技术支持，助您打造化妆品
						产品。公司拥有一支国际技术的研发团队（教授级专家顾问、精细
						化工与中药联合实平，保证了产品在品质上有强有力的竞争实力。，</p>
						<p></p>
						<span class="f-d"> <strong>性价比优势</strong></span>
						<p class="first"> 高效：拥有一流作业的先进流水生产线，技
						术力量，一流的管理经验；通过ISO9001：2000质量管理体系，确保
						每款产品高效、高安全生产，</p>
						<span class="f-d"> <strong>发展历程  </strong></span>
						<ul>
							<li>        1999年创立香港黛羽妃化妆品有限公司</li>
							<li>        2001年成立英国黛羽妃护肤研究中心</li>
							<li>        2003年黛羽妃化妆品广州总部工厂在广州白云区落成。</li>
							<li>        2005年成立成都黛羽妃分公司</li>
							<li>        2006年获年度中国化妆品行业最强势品牌大奖 董事长兼执行总裁郭晋华先生获中国化妆品行业最具影响力人物大奖</li>
							<li>        2007年纯植物美白淡斑成份—Commiphora Mukul研发成功</li>
							<li>        2008年公司获得全国首创安全祛斑品牌荣誉证书</li>
							<li>        2009年我们抗击金融危机取得显著成绩，我们继续在努力</li>
							<li>        2010年黛羽妃公司：产品科研、服务全面升级正在进行中</li>
						</ul>
						<h3 class="zz text-center">服务宗旨：品质第一、物美价廉、客户至上</h3>
					</div>
				</div>
				<!--footer-->
				<div class="footer  ">
					<p> 成都市黛羽妃化妆品邮箱有限公司
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span>备案号：</span> <span>网站建设：互成网络</span></p>
				</div>
				<!--footer-->
			</div>
			<!--end of content-->
		</div>
		<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
