<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../css/brand-center.css" />
		<meta name="keywords" content="黛羽妃化妆品，成都黛羽妃化妆品有限公司，成都化妆品，成都化妆品公司，四川化妆品，四川化妆品公司">
		<meta name="description" content="成都黛羽妃化妆品有限公司总部是一家集研发、生产及销售为一体的专业化妆品OEM/ODM加工企业，在行业内颇具口碑、影响力，公司位于交通便捷、物流发达的广州白云区工业基地，是广州发达、化妆品生产集散地，厂区环室、原料室、灌装妆品所有常规检验项目的检测，全方位保证企业的产品在消费者手中的安全使用，让消费者放心消费。">
		<title>成都黛羽妃化妆品有限公司</title>
	</head>
	<body>

		<div class="box">
			<!--nav start-->
			<div class="wrap">
				<nav class="navbar Z-navbar ">
					<div class="container Z-container ">
						<div class="navbar-header Z-navbar-header">
							<div class="btn-group visible-xs pull-right Z-hidden " style="">
								<button type="button" class="btn btn-warning dropdown-toggle" id="scollBtn" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="false">
									<span class="glyphicon glyphicon-tasks" style="font-size: 30px;"></span>
								</button>


								<div class="dropdown-menu out-mask" style="">
									<div id="mask">
										<div class="row">
											<div class="col-xs-12">
												<ul>

													<li>
														<a href="../index.html">
															网站首页
															<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li>
														<a href="about-us.html">
															关于我们
															<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li>
														<a href="news.html">
															新闻资讯<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li><a href="brand-center.html">
															品牌中心<span class="glyphicon glyphicon-hand-left "></span></a></li>
													<li><a href="jion-investment.html">招商加盟<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li><a href="./view/team-mien.html">
															团队风采<span class="glyphicon glyphicon-hand-left "></span></a></li>
													<li><a href="franchisee.html">加盟门店<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li><a href="online-reservation.html">在线预定
															<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li>
														<a href="contact-us.html">
															联系我们<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<h1>
								<a class="Z-LOGO" href="index.html">
									<img src="../img/header_02.png">
								</a>
							</h1>
							<ul class="nav nav-justified Z-nav hidden-xs">
								<li class="text-center"><a href="../index.html">网站首页</a></li>
								<li><a  href="about-us.html">关于我们</a></li>
								<li><a href="news.html">新闻资讯</a></li>
								<li ><a class="active" href="brand-center.html">品牌中心</a></li>
								<li><a href="jion-investment.html">招商加盟</a></li>
								<li><a href="team-mien.html">团队风采</a></li>
								<li><a href="franchisee.html">加盟门店</a></li>
								<li><a href="online-reservation.html">在线预定</a></li>
								<li><a href="contact-us.html">联系我们</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<!--end of nav-->
			<!--content start-->

			<div class="content">
				<!--banner-->
				<div class="container-fluid Z-all-banner">
					<a href="#">
						<img src="../img/about-us/20160912052441758.png" class="img-responsive">
					</a>
				</div>
				<!--banner-->
				<div class="main container">
					<div class="row z-row">
						<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
							<div class="left">
								<div class="z-title">
								<p>-品牌中心-</p>
								</div>
								<div class="z-list ">
								<p><a  href="#">特效修复补水套装</a></p>
								<p><a href="#">特效美白套装</a></p>
								<p><a href="#">防晒修颜系列</a></p>
								<p><a href="#">霜系列</a></p>
								</div>
							</div>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 right">
							<h3 class="title">
								<span>品牌中心 </span>
								<span>位置：品牌中心 </span>
							</h3>
							
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
									<div class="c-img">
										<a href="brand-details.html">
											<img src="../img/news/20160913102946780.png" >
										</a>
										<a class="z-hov" href="brand-details.html"></a>
										<p class="hov">霜系列</p>
										
									</div>
									
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
									<div class="c-img">
										<a href="#">
											<img src="../img/news/20160913102946780.png" >
										</a>
										<a class="z-hov" href="#"></a>
										<p class="hov">霜系列</p>
										
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
									<div class="c-img">
										<a href="#">
											<img src="../img/news/20160913102946780.png" >
										</a>
										<a class="z-hov" href="#"></a>
										<p class="hov">霜系列</p>
										
									</div>
									
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
									<div class="c-img">
										<a href="#">
											<img src="../img/news/20160913102946780.png" >
										</a>
										<a class="z-hov" href="#"></a>
										<p class="hov">霜系列</p>
										
									</div>
									
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
									<div class="c-img">
										<a href="#">
											<img src="../img/news/20160913102946780.png" >
										</a>
										<a class="z-hov" href="#"></a>
										<p class="hov">霜系列</p>
										
									</div>
									
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
									<div class="c-img">
										<a href="#">
											<img src="../img/news/20160913102946780.png" >
										</a>
										<a class="z-hov" href="#"></a>
										<p class="hov">霜系列</p>
										
									</div>
									
								</div>
							</div>
							
							
							
						</div>
					</div>
				</div>
				<!--footer-->
				<div class="footer  ">
					<p> 成都市黛羽妃化妆品邮箱有限公司
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span>备案号：</span> <span>网站建设：互成网络</span></p>
				</div>
				<!--footer-->
			</div>
			<!--end of content-->
		</div>
		<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
