<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../css/news-details.css" />
		<meta name="keywords" content="黛羽妃化妆品，成都黛羽妃化妆品有限公司，成都化妆品，成都化妆品公司，四川化妆品，四川化妆品公司">
		<meta name="description" content="成都黛羽妃化妆品有限公司总部是一家集研发、生产及销售为一体的专业化妆品OEM/ODM加工企业，在行业内颇具口碑、影响力，公司位于交通便捷、物流发达的广州白云区工业基地，是广州发达、化妆品生产集散地，厂区环室、原料室、灌装妆品所有常规检验项目的检测，全方位保证企业的产品在消费者手中的安全使用，让消费者放心消费。">
		<title>成都黛羽妃化妆品有限公司</title>
	</head>
	<body>

		<div class="box">
			<!--nav start-->
			<div class="wrap">
				<nav class="navbar Z-navbar ">
					<div class="container Z-container ">
						<div class="navbar-header Z-navbar-header">
							<div class="btn-group visible-xs pull-right Z-hidden " style="">
								<button type="button" class="btn btn-warning dropdown-toggle" id="scollBtn" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="false">
									<span class="glyphicon glyphicon-tasks" style="font-size: 30px;"></span>
								</button>


								<div class="dropdown-menu out-mask" style="">
									<div id="mask">
										<div class="row">
											<div class="col-xs-12">
												<ul>

													<li>
														<a href="../index.html">
															网站首页
															<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li>
														<a href="about-us.html">
															关于我们
															<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li>
														<a href="news.html">
															新闻资讯<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li><a href="brand-center.html">
															品牌中心<span class="glyphicon glyphicon-hand-left "></span></a></li>
													<li><a href="jion-investment.html">招商加盟<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li><a href="./view/team-mien.html">
															团队风采<span class="glyphicon glyphicon-hand-left "></span></a></li>
													<li><a href="franchisee.html">加盟门店<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li><a href="online-reservation.html">在线预定
															<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
													<li>
														<a href="contact-us.html">
															联系我们<span class="glyphicon glyphicon-hand-left "></span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<h1>
								<a class="Z-LOGO" href="index.html">
									<img src="../img/header_02.png">
								</a>
							</h1>
							<ul class="nav nav-justified Z-nav hidden-xs">
								<li><a href="../index.html">网站首页</a></li>
								<li class="text-center"><a href="about-us.html">关于我们</a></li>
								<li><a href="news.html">新闻资讯</a></li>
								<li><a href="brand-center.html">品牌中心</a></li>
								<li><a href="jion-investment.html">招商加盟</a></li>
								<li><a href="team-mien.html">团队风采</a></li>
								<li><a href="franchisee.html">加盟门店</a></li>
								<li><a href="online-reservation.html">在线预定</a></li>
								<li><a href="contact-us.html">联系我们</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<!--end of nav-->
			<!--content start-->

			<div class="content">
				<!--banner-->
				<div class="container-fluid Z-all-banner">
					<a href="#">
						<img src="../img/about-us/20160912052441758.png" class="img-responsive">
					</a>
				</div>
				<!--banner-->
				<div class="main container">
					<div class="row z-row">
						<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
							<div class="left">
								<div class="z-title">
									<p>-新闻资讯-</p>
								</div>
								<div class="z-list ">
									<p><a href="#">公司新闻</a></p>
									<p><a class="active" href="#">行业新闻</a></p>
								</div>


							</div>


						</div>
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 right">
							<h3 class="title">
								<span>新闻资讯 </span>
								<span>位置：新闻资讯-行业新闻 </span>
							</h3>
							<h2>消费税改革之思：如果进口化妆品降价30% 国产品牌如何应对？</h2>
							<p>2016-09-21 20:11:29 来源：网络综合 点击：75</p>
							<p>在国外的机场，经常能看到熙熙攘攘的游客，他们多是来自中国的购物大军，而他们购物的首选就是化妆品。游客们快步加小跑，奔波于退税、取货柜台，登机离开的最后一刻，还不忘记再花光手头剩余的韩元，手提大包小包的货品，心满意足地离开。<br>
								同样一款化妆品，国内售价比国外高出一倍，并不是一件新鲜事。随着进口化妆品涌入国内市场，境内外商品价差问题逐渐显现，降低进口环节税收的呼吁开始增多。9月6日，全球最大的财经资讯服务提供商彭博援引知情人士称，财政部已将消费税改革草案报送国务院，财政部官员普遍支持减免日用化妆品消费税;烟酒类产品消费税率可能面临上调。<br>
								一瓶进口化妆品，背后有多少税负，消费税占到多少?消费税改革会给目前的化妆品行业以及消费者带来怎样的影响?企业和专家是如何期待这场改革?记者近日对此展开调查。<br>
								进口粉底液消费税占大头<br>
								一款美国原装进口粉底液，国内专柜售价500多元，而她在美国亚马逊网站上看到，该款粉底液售价40美元左右，折合人民币不到270元。根据海淘人士看来，韩国的化妆品，尤其是海外一线大牌化妆品，本身的定价就比国内便宜30%-50%，而买得多还可以在这个低价上再享受八折的折扣价。<br>
								为何同一品牌粉底液，漂洋过海来到中国市场价格就贵了一倍?有一位注册会计师专门对某款商品入关后的各项税负的核算。该注册会计师表示，假设粉底液的报关价为200元，由于属于彩妆类，首先这款粉底液需要缴纳20元的关税(200×10%)，然后在此基础上再交纳94元的消费税((200+20)/(1-30%)×30%)，最后还需缴纳53元的增值税((200+20+94)×17%)。<br>
								也就是说在进口环节，这款粉底液需要缴纳的税就为167元。其中值得注意的是，消费税占到了总进口税费的56%。<br>
								消费税对零售终端价格影响大<br>
								根据记者了解，目前进口商品税收主要分为关税、增值税和消费税。其中，增值税为17%;关税高低与产品类型和进口国家有关，比如香水、彩妆等的关税为10%，进口来自韩国、亚太、东盟等地的香水、彩妆还有一定的关税优惠。
								而消费税是在对货物普遍征收增值税的基础上，选择少数消费品再征收的一个税种，无论进口的还是国产的都需要缴纳。就化妆品而言，香水、彩妆、成套化妆品等需要缴纳30%的消费税。自2006年起，进口护肤护发品类取消了消费税的征收，仅需缴纳关税和增值税。
								一盒法国的迪奥凝脂粉饼(10克)，在东部某高档商场售价550元。记者从海关查询到，这款产品属于彩妆，从法国入关需要缴纳10%的关税，17%的增值税以及30%消费税。这款产品在美国亚马逊网站售价大约44美元，折合人民币不到300元，与国内专柜价差距较大。但是，一款同样进口的倩碧洁面皂，则只需要缴纳关税和增值税，因为洁面皂属于护肤用品。这款洁面皂在国内售价160元到180元，在美国亚马逊网站不到20美元，折合人民币130元，差价较小。这从一定程度上也能显示消费税对零售终端价格的影响。
								化妆品定位奢侈品已过时<br>
								为何化妆品的消费税如此之高?早年由于国内消费能力不强，化妆品被视为高档商品范畴，但随着经济实力的提升，部分化妆品已经在消费者可以承受的价格范围内，所以30%的消费税相对过高。进口化妆品30%的消费税对企业来说“压力确实不小”，由于国产彩妆产品的消费税同样也高达30%，国产彩妆企业也并不觉得轻松。<br>
								从征收范围看，目前我国征收消费税的商品大致可以分为三类：一是破坏生态环境和消耗自然资源的消费品，如汽车、成品油、木制筷子等;二是过度消费不利于人类健康的消费品，如烟、酒等;三是以少数高收入群体为消费主体的奢侈类消费品，如高尔夫球及球具、游艇、高档手表等。所以，消费税主要是调节“三高消费”的。所谓三高，是高耗能、高污染和高档消费品。<br>
								如今化妆品已经走进普通百姓家，消费税也就成为面向普通大众消费者广泛收取的税。因此，消费税改革的呼声越来越高，化妆品的消费税关注度则最高。<br>
								根据消费税税目税率表(2016年版)显示，雪茄烟消费税率为36%，白酒为20%加0.5元/斤，贵重首饰及珠宝为5%—10%，高尔夫球及球具为10%，高档手表为20%，游艇为10%……与之相比，化妆品30%的消费税率确实不算低。<br>
								有出有进有减有增<br>
								“尽管目前还没公布具体的税改内容，但我们业内普遍认为，此次消费税改革，原则上肯定是税目有出有进，税负有减有增。”分析认为，一方面，改革可能降低或者减免一些产品的消费税，如化妆品，或者定位中低端的化妆品;另一方面，扩大税基或征收范围，例如，消费税的征收范围应扩大到塑料包装等易污染环境的行业以及私人飞机等奢侈和炫耀消费领域。<br>
								此前，消费税政策也有过几次大的调整。总体上看是有减有增、有进有出。加税的主要是破坏生态环境和消耗自然资源的消费品，取消或免征的大多是随着居民生活水平和消费方式变化，由非必需品或奢侈品转为必需品的消费品，而这种消费税的结构性调整减轻了普通居民税收负担。如2006年调整消费税征收范围，新增高尔夫球及球具、高档手表、游艇、木制一次性筷子、实木地板税目，取消了“护肤护发品”税目。<br>
								2008年9月1日起，为促进汽车产业和节能减排，提高大排量乘用车的税率，降低小排量乘用车的税率，中等排量乘用车的税率基本维持不变。2009年，成品油税费改革实施，取消公路养路费等六项收费，同时提高成品油消费税税率。从2009年5月起，调整烟产品生产环节消费税。<br>
								根据央广网此前报道，此次消费税改革会将一些不适合继续征收消费税的产品从税目中剔除。随着我国消费结构升级，过去被看作奢侈品的产品(如化妆品、汽车轮胎等)，一部分已经是常规消费品，那么适时调整其消费税就显得很有必要。作为税制改革的一项内容，本轮消费税改革方案的核心内容是调整消费税征收范围、征收环节和税率。引导人们消费方式的转变，加大对不可再生资源的保护，是未来消费税扩大税基的一个方向。<br>
								不少专家建议，未来属于大众消费的化妆品应降税，其消费税税率甚至可以降到零，而少数人群的高档消费、奢侈消费，如烟草、高尔夫球、游艇、私人飞机等，其消费税应保留或适度提高。<br>
								目前我国征收消费税的商品大致可以分为三类<br>
								一、破坏生态环境和消耗自然资源的消费品，如汽车、成品油、木制筷子等;<br>
								二、过度消费不利于人类健康的消费品，如烟、酒等;<br>
								三、以少数高收入群体为消费主体的奢侈类消费品，如高尔夫球及球具、游艇、高档手表等。<br>
								名词解释<br>
								消费税是以消费品的流转额作为征税对象的各种税收的统称，是典型的间接税，实行价内税，税款最终由消费者承担。我国于1994年设立消费税，现行消费税的征收范围主要包括烟、酒、化妆品、贵重首饰及珠宝玉石、成品油、小汽车等13个税目。</p>
						
								<span>相关热词搜索：之思消费税国产</span><br>
								<span>上一篇：<a href="#">成都建立“互联网＋食品安全”保障新机制</a></span><br>
								<span>下一篇：<a href="#">最后一页</a></span><br>
						
						</div>
					</div>
					<!--footer-->
					<div class="footer  ">
						<p> 成都市黛羽妃化妆品邮箱有限公司
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<span>备案号：</span> <span>网站建设：互成网络</span></p>
					</div>
					<!--footer-->
				</div>
				<!--end of content-->
			</div>
			<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
			<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="../bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
